{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "import/export": 2,
    "no-console": "warn",
    "no-inline-comments": "warn",
    "no-multiple-empty-lines": "error",
    "no-const-assign": "error",
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "never", "children": "never" }
    ],
    "import/no-default-export": "off"
  }
}
